p{ 
    margin: 6px; 
    padding: 6px;
    border: 4px solid black;
    width: 350px; 
    height: 80px;
    background-color: orange;
}

footer div {
    margin: 5px;
    width: 300px;
    height: 75px;
    padding: 5px;
    border: 5px solid black;
    box-sizing: border-box;
}

.my-grid {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 50px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
